@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --border-primary: oklch(37.1% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--border-primary)
}

body {
  background: var(--background);
  color: var(--foreground);
}
